# Address book
=> /addressbook/add {{ gettext("Add a contact") }}
=> {{ root_titan_url.with_path('/addressbook/upload') }} {{ gettext("Import a list of contacts from a file") }}
=> /addressbook/upload_file_format {{ gettext("Import file format example") }}

## {{ gettext(
  "There are %(num)d contact(s) in your address book."
)|format(num=config.contacts|length) }}

{% for contact in config.contacts %}
## {{contact.address}} ({{contact.blurb if contact.blurb else 'No name'}})
=> /compose?{{contact.address}}  {{ gettext("Compose a message") }}
=> /compose_draft?{{contact.address}}  {{ gettext("Write a draft") }}
=> /addressbook/delete?{{contact.address}} {{ gettext("Delete contact") }}
{% endfor %}

=> / {{ gettext("Homepage") }}
