# {{ gettext("Address book import file format") }}

The uploaded file should be a simple text file with one contact per line, with the optional contact name (blurb) added before the misfin mail address. Empty lines or lines starting with # are ignored.

```
John Doe john@misfin.org
steve@example.org
rfc@misfin.org

# Another contact
Admin admin@hashnix.club
```
