# {{ gettext("Draft") }}
{% if expires %}
## Expires: {{ expires.strftime('%d/%m/%Y %H:%M:%S') }}
{% endif %}
{% if recipient %}
## Recipient: {{recipient}}
{% else %}
## {{ gettext("No recipient") }}
{% endif %}

{% if message %}
```
{{ message }}
```
{% else %}
{{ gettext("Empty message") }}
{% endif %}

=> /draft_edit {{ gettext("Edit") }}
=> /draft_rm {{ gettext("Delete") }}

=> /draft_send {{ gettext("Send") }}

=> / {{ gettext("Go back to your gembox") }}
