# {{ gettext("Your file was uploaded successfully.") }}

{{ gettext("This is the file's encryption key") }}:
```
{{upload_privkey}}
```

{{ gettext("This is the link to download the file") }}

=> {{ download_url }} {{ gettext("Download encrypted file: %(filename)s")|format(filename=filename) }}

{{ gettext("This is the full link (it contains the decryption key). Only communicate this link over a secure channel") }}

=> {{ self_download_url }} {{ gettext("Download encrypted file: %(filename)s (full)")|format(filename=filename) }}
