# {{ gettext("Misfin mail interface") }}

{{ gettext("You don't seem to be using a valid misfin certificate. Use the link below to sign up.") }}

=> /signup/en_US  {{ gettext("Sign up for a misfin mailbox on this server") }}
=> /signup/fr_FR  Créer un compte sur ce serveur (Francais)
=> /signup/es_ES  Registrarse para una cuenta en este servidor (Español)

## About Misfin

Misfin is a mail protocol for the small web.

Misfin is to email what Gemini is to the Web. Set up a Misfin server alongside your Gemini capsule, and start networking with other capsuleers.

=> gemini://misfin.org
