{% if header %}
{{header}}
{% endif %}
{% macro msg_link(msg_id, status, msg) %}
{% set subject = '' %}
{% if msg.subject %}
{% set subject = msg.subject %}
{% endif %}
{% if status == 0 %}
=> /msg/{{msg_id}} ({{ gettext("NEW") }}) {{subject}} {{ gettext("From") }} {{msg.sender.address()}} ({{msg.recv_date_human()}})
{% elif status == 1 %}
=> /msg/{{msg_id}} ({{ gettext("READ") }}) {{subject}} {{ gettext("From") }} {{msg.sender.address()}} ({{msg.recv_date_human()}})
{% elif status == 3 %}
=> /msg/{{msg_id}} {{subject}} {{ gettext("From") }} {{msg.sender.address()}} ({{msg.recv_date_human()}})
{% elif status == 4 %}
{{ gettext("Message with ID %(id)s is encrypted")|format(id=msg_id) }}
=> /msg/{{msg_id}}/delete {{ gettext("Delete encrypted message with ID: %(id)s")|format(id=msg_id) }}
{% endif %}
{% endmacro %}

## {{ gettext("Hi %(longform)s")|format(longform=identity.longform()) }}

=> /addressbook/list {{ gettext("Address book") }}
=> /compose {{ gettext("Compose a new message") }}
=> /compose_draft {{ gettext("Write a draft") }}
=> /mailinglists {{ gettext("Mailing lists") }}

=> /settings {{ gettext("Settings") }}
=> /mailbox/fetch {{ gettext("Fetch your gembox (raw gembox file)") }}

{% if gembox.mbtype in ['mh', 'maildir'] %}
{% if not gembox.privkey_is_set %}
=> /deckey/upload {{ gettext("Decrypt messages (set your decryption key)") }}
=> /deckey/upload/ttl/600 {{ gettext("Decrypt messages and cache key for 10 minutes") }}
=> /deckey/upload/ttl/1800 {{ gettext("Decrypt messages and cache key for 30 minutes") }}
{% else %}
=> /deckey/unload {{ gettext("Unload decryption key") }}
{% endif %}
{% endif %}
=> /upload {{ gettext("Upload a file") }}

## {{ ngettext(
  "%(num)d messages",
  "You have %(num)d message(s) in your gembox",
  messages|length)|format(num=messages|length) }}
{% for mid, status, msg in messages -%}
{% if msg.sender -%}
{{msg_link(mid, status, msg)}}
{%- endif %}
{%- endfor %}

{% if footer -%}
{{footer}}
{%- endif %}
