# {{ gettext("User Interface") }}
## {{ gettext("Display language") }}
{{ gettext("Current language: %(lang)s")|format(lang=config.ui.lang) }}
=> /settings/chlang?fr_FR {{ gettext("Change the display language to French") }}
=> /settings/chlang?en_US {{ gettext("Change the display language to English") }}
=> /settings/chlang?es_ES {{ gettext("Change the display language to Castilian Spanish") }}
=> /settings/chlang?gl {{ gettext("Change the display language to Galician") }}
=> /settings/chlang?eo {{ gettext("Change the display language to Esperanto") }}

## {{ gettext("Security prompts") }}
{% if config.mailbox.deletemsg_confirmation %}
=> /settings/deletemsg_confirmation?disable {{ gettext("Disable confirmation prompt when deleting messages") }}
{% else %}
=> /settings/deletemsg_confirmation?enable {{ gettext("Enable confirmation prompt when deleting messages") }}
{% endif %}

# {{ gettext("Mailbox type") }}
{{ gettext("Current mailbox type: %(mbtype)s")|format(mbtype=config.storage.type) }}
=> /settings/chmailboxtype?mh {{ gettext("Change to MH") }}
=> /settings/chmailboxtype?maildir {{ gettext("Change to Maildir (supports message status)") }}
=> /settings/chmailboxtype?gembox-file {{ gettext("Change to gembox file") }}

## {{ gettext("Message encryption") }}
{% if not config.storage.encrypt_incoming_messages %}
{{ gettext("Message encryption is disabled.") }}
=> /settings/?encryption_enable {{ gettext("Enable encryption") }}
{% else %}
{{ gettext("Message encryption is enabled.") }}
=> /settings/?encryption_disable {{ gettext("Disable encryption") }}
=> /settings/encryption_chkey {{ gettext("Change encryption key") }}
{% endif %}

# {{ gettext("Signature") }}
{% if config.signature and config.signature.sigtext %}
{{ gettext("Your current signature is:") }}
```
{{config.signature.sigtext}}
```
{% if config.signature and not config.signature.enabled %}
{{ gettext("Your signature is DISABLED and will not be included in your messages.") }}
=> /settings/signature_enable Activate your signature
{% elif config.signature and config.signature.enabled %}
{{ gettext("Your signature is enabled and will be appended to every message that you send from the frontend.") }}
=> /settings/signature_disable {{ gettext("Disable your signature") }}
{% endif %}
{% endif %}
=> /settings/chsignature {{ gettext("Change your signature") }}

# {{ gettext("Filtering") }}
=> /settings/block_addr {{ gettext("Block a misfin address") }}
=> /settings/block_fingerprint {{ gettext("Block a misfin certificate's fingerprint") }}
{% if config.block_senders_byaddr %}
## {{ gettext("Blocked addresses") }}
{% for addr in config.block_senders_byaddr %}
### {{addr}}
=> /settings/unblock_addr?{{addr}} {{ gettext("Unblock") }}
{% endfor %}
{% endif %}
{% if config.block_senders_byfingerprint %}
## {{ gettext("Blocked fingerprints") }}
{% for fp in config.block_senders_byfingerprint %}
### {{fp}}
=> /settings/unblock_fingerprint?{{fp}} {{ gettext("Unblock") }}
{% endfor %}
{% endif %}

# {{ gettext("Absences (Out-Of-Office)") }}
=> /settings/absence_new {{ gettext("Declare an absence") }}
{{ gettext("A message will automatically be sent to anyone trying to contact you during your absence.") }}
{% if config.absence %}
{% for name, abs in config.absence.items() %}
{% set start = abs.start_date.strftime('%Y-%m-%d') %}
{% set end = abs.end_date.strftime('%Y-%m-%d') %}
## {{ gettext("Absent from day: %(start)s to: %(end)s")|format(start=start, end=end) }} ({{ name }})
{{ gettext("Autoreply message") }}:
```
{{ abs.autoreply_message }}
```
=> /settings/absence_rm?{{name}} {{ gettext("Delete") }}
{% endfor %}
{% endif %}

# {{ gettext("Fetch") }}
{% if config.mailbox.allow_fetch %}
{{ gettext("Fetching the mailbox as a single-file gembox is ENABLED") }}
=> /settings?fetch_disable {{ gettext("Disable remote gembox fetch") }}
{% else %}
{{ gettext("Fetching the mailbox as a single-file gembox is DISABLED") }}
=> /settings?fetch_enable {{ gettext("Enable remote gembox fetch") }}
{% endif %}

=> / {{ gettext("Homepage") }}
