{{ gettext("Your mailbox has been created.") }}

# {{ gettext("Details") }}

{{ gettext("Your mailbox name is: %(mailbox)s")|format(mailbox=mailbox) }}

{{ gettext("Your misfin mail address is: %(addr)s")|format(addr=ident.address()) }}

{{ gettext("Your misfin long-form address is: %(addr)s")|format(addr=ident.longform()) }}

# STORE YOUR MAILBOX ENCRYPTION KEY !

{{ gettext("Here is your private mailbox encryption key (encoded in base32). If you choose to enable the encryption of messages (in the settings menu), all incoming messages will be encrypted and you will be asked to send this key to be able to decrypt the messages in your gembox.") }}

```
{{enc_privkey}}
```

## {{ gettext("Here is your certificate") }}

```
{{ident.cert_as_pem().decode()}}
```

## {{ gettext("Here is your private key") }}

```
{{ident.key_as_pem().decode()}}
```

{{ gettext("Import them in your browser and refresh this page.") }}

{{ gettext('If you use the Lagrange gemini browser, open the "Identity" menu and select "Import", your misfin certificate and private key will be parsed from the page automatically.') }}

Hint: If you use the Lagrange gemini browser, open the "Identity" menu and select "Import", your misfin certificate and private key will be parsed from the page automatically.

=> / {{ gettext("Homepage") }}
