{% set sender_addr = message.sender.address() %}
{% if message.subject %}
# {{message.subject}}
{% endif %}
### {{message.recv_date_human()}}

{{ gettext("Sender:") }}
=> /compose?{{message.sender.address()}}  {{message.sender.address()}} ({{message.sender.blurb}})
=> /compose_draft?{{message.sender.address()}}  {{ gettext("Write a draft for:") }} {{message.sender.address()}} ({{message.sender.blurb}})
=> /addressbook/add?{{message.sender.address()}}  Add {{message.sender.address()}} to the address book

{{ gettext("Recipients:") }}
{% for recp in message.recipients %}
=> /compose?{{recp.address()}}  {{recp.longform()}}
{% endfor %}
{{ gettext("Message:") }}
{{message.message}}

=> /compose?{{message.sender.address()}}  {{ gettext("Reply to") }} {{message.sender.address()}}
=> /compose_draft?{{message.sender.address()}}  {{ gettext("Draft a response to") }} {{message.sender.address()}}
{% if sender_addr not in config.block_senders_byaddr %}
=> /settings/block_addr?{{sender_addr}}  {{ gettext("Block") }} {{sender_addr}}
{% elif sender_addr in config.block_senders_byaddr %}
=> /settings/unblock_addr?{{sender_addr}}  {{ gettext("Unblock") }} {{sender_addr}}
{% endif %}
=> /msg/{{idx}}/markread {{ gettext("Mark this message as read") }}
=> /msg/{{idx}}/delete {{ gettext("Delete this message") }}
=> / {{ gettext("Inbox") }}
