=> /mailinglists/create {{ gettext("Create a mailing list") }}

{% if mailing_lists|length > 0 %}
{{ gettext("To subscribe to a mailing list, click on a ML and send the following message:") }}
```
# SUBSCRIBE
```
{{ gettext("To unsubscribe from a mailing list, click on a ML and send the following message:") }}
```
# UNSUBSCRIBE
```

# {{ gettext("Mailing lists") }}
{% for ml_cfg, ml_creator, mlident in mailing_lists %}
{% set addr = ml_cfg.address %}
{% set blurb = ml_cfg.blurb %}
## {{blurb}}
=> /compose?{{addr}}  {{ gettext("Send a message to this mailing list") }}
{% if ml_creator and ml_creator.address %}
{{ gettext("Created by %(addr)s")|format(addr=ml_creator.address) }}
{% endif %}
{% endfor %}
{% else %}
{{ gettext("No mailing lists on this server.") }}
{% endif %}
